<mat-dialog-content>
    <header><h1>Create Card!</h1></header>
    <p>
        <mat-form-field>
            <input matInput placeholder="Title" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Desciption" />
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="imageUrl" />
        </mat-form-field>
    </p>
</mat-dialog-content>

<button mat-icon-button style="position: absolute;" >Create</button>